/* Constants */
:root {
    --primary-color: #801010;
    --font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    margin: 16px;
}

#container {
    height: 100vh;
    border: 3px solid var(--primary-color);
}

header {
    padding: 20px;
    font-size: xx-large;
    text-align: center;
    color: white;
    text-transform: uppercase;
    background-color: var(--primary-color);
}

main {
    padding: 36px;
    font-weight: bold;
    text-align: center;
}

#intro {
    font-size: 24px;
}

#question {
    font-size: 48px;
    margin-bottom: 24px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 36px;
}

.crop {
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.crop img {
    width: 100%;
    height: auto;
    display: block;
    /* foca no topo da imagem */
    object-position: top;
}

@media (max-width: 992px) {

    #intro {
        display: none;
    }

    #question {
        font-size: xx-large
    }

    #or {
        font-size: x-large;
    }
}